<div class="footer">
  <% let year = new Date().getFullYear() %>
  <div class="container d-flex">
    <div class="copyright d-flex">
      <p class="copy-right">© <%= year %> SUV Blog. All rights reserved.</p>
    </div>
    <div class="right-links d-flex">
      <div class="foot-link d-flex">
        <a href="https://www.facebook.com" style="color: #fff;"><i class="bi bi-facebook"></i></a></i>
        <a href="https://www.twitter.com" style="color: #fff;"><i class="bi bi-twitter"></i></a>
        <a  href="mailto: suv-blog@gmail.com" style="color: #fff;"><i class="bi bi-envelope-fill"></i></a>
      </div>
    </div>
  </div>
